{% extends "layout.html" %}

{% block title %}Tapahtumailmoituksen päivitys{% endblock %}

{% block content %}
<h2>Tapahtumailmoituksen päivitys</h2>

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}

<form action="/update_event/{{ event.id }}" method="POST" enctype="multipart/form-data">
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <p>
    <label for="title">Otsikko:</label> <br />
    <input type="text" id="title" name="title" size="50" value="{{ event.title }}" maxlength="60" required />
  </p>
  <p>
    <label for="description">Kuvaus:</label> <br />
    <textarea id="description" name="description" rows="10" cols="70" maxlength="1500" required>{{ event.description }}</textarea>
  </p>
  <p>
    <label for="date">Päivämäärä (dd.mm.yyyy):</label> <br />
    <input type="date" id="date" name="date" size="10" value="{{ event.date }}" />
  </p>
  <p>
    <label for="time">Kellonaika:</label> <br />
    Klo <input type="text" id="time" name="time" size="6" value="{{ event.time }}" />
  </p>
  <p>
    <label for="location">Sijainti:</label> <br />
    <input type="text" id="location" name="location" size="20" value="{{ event.location }}" maxlength="100" required />
  </p>
  <p>
    Tapahtuman tyyppi: <br />
    <select name="section" multiple>
      <option value="">(valitse)</option>
      <option value="askartelu" {% if "askartelu" in classes %}selected{% endif %}>päihteetön</option>
      <option value="musiikki" {% if "musiikki" in classes %}selected{% endif %}>musiikki</option>
      <option value="teatteri" {% if "teatteri" in classes %}selected{% endif %}>teatteri</option>
      <option value="urheilu" {% if "urheilu" in classes %}selected{% endif %}>urheilu</option>
      <option value="ruoka" {% if "ruoka" in classes %}selected{% endif %}>ruoka</option>
      <option value="tanssi" {% if "tanssi" in classes %}selected{% endif %}>tanssi</option>
      <option value="maalaustaide" {% if "maalaustaide" in classes %}selected{% endif %}>maalaustaide</option>
      <option value="lautapelit" {% if "lautapelit" in classes %}selected{% endif %}>lautapelit</option>
      <option value="kirjallisuus" {% if "kirjallisuus" in classes %}selected{% endif %}>kirjallisuus</option>
      <option value="elokuvat" {% if "elokuvat" in classes %}selected{% endif %}>elokuvat</option>
      <option value="keramiikka" {% if "keramiikka" in classes %}selected{% endif %}>keramiikka</option>
      <option value="luonto" {% if "luonto" in classes %}selected{% endif %}>luonto</option>
      <option value="muu" {% if "muu" in classes %}selected{% endif %}>muu</option>
    </select>
  </p>
  <p>
    <label for="image">Muokkaa kuvaa (vain .jpg, max 100 KB):</label> <br />
    <input type="file" id="image" name="image" accept=".jpg">
  </p>

  <input type="hidden" name="event_id" value="{{ event.id }}">
  <input type="submit" value="Päivitä tapahtumailmoitus" />
</form>
{% endblock %}
