{% extends "layout.html" %}

{% block title %}Ilmaistapahtumat{% endblock %}

{% block content %}

{% for message in get_flashed_messages() %}
<p class="info">
  {{ message }}
</p>
{% endfor %}

{% if session.username %}
    <p>
      Olet kirjautunut nimellä {{ session.username }}
    </p>
{% endif %}

<h2>Tapahtumat</h2>
{% for event in events %}
<div class="thread">
  <p>
    Tapahtuma:
    <a href="/event/{{ event.id }}">{{ event.title }}</a>
  </p>
  <p>
    Päivämäärä: {{ event.date }}
  </p>
  <p>
    Järjestäjä: <a href="/user/{{ event.user_id }}">{{ event.username }}</a>
  </p>
</div>
{% endfor %}

{% endblock %}
