<!DOCTYPE html>
<html>

<head>
  <title>Uusi tapahtuma</title>
</head>

<body>
  <h1>Uusi tapahtuma</h1>
  <form action="/create_event" method="post">
    <p>
      Otsikko: <br />
      <input type="text" name="title" size="50" maxlength="60" required />
    </p>
    <p>
      Kuvaus: <br />
      <textarea  name ="description" rows="10" cols="70" maxlength="1500" required ></textarea>
    </p>
    <p>
      Päivämäärä: <br />
      <input type="date" name="date" size="10" required />
    </p>
    <p>
      Kellonaika: <br />
      Klo <input type="time" name="time" size="8" required />
    </p>
    <p>
      Sijainti: <br />
      <input type="text" name="location" size="50" maxlength="100" required />
    </p>
    <p>
      Tapahtuman tyyppi: <br />
      <select name="section">
        <option value="">(valitse)</option>
        <option value="päihteetön">päihteetön</option>
        <option value="musiikki">musiikki</option>
        <option value="teatteri">teatteri</option>
        <option value="urheilu">urheilu</option>
        <option value="ruoka">ruoka</option>
        <option value="tanssi">tanssi</option>
        <option value="maalaustaide">maalaustaide</option>
        <option value="lautapelit">lautapelit</option>
        <option value="kirjallisuus">kirjallisuus</option>
        <option value="elokuvat">elokuvat</option>
        <option value="keramiikka">keramiikka</option>
        <option value="luonto">luonto</option>
        <option value="muu">muu</option>

      </select>
    </p>

    
    <input type="submit" value="Luo ilmoitus" />
  </form>
</body>

</html>