<!DOCTYPE html>
<html>

<head>
  <title> {{ item.title }} </title>
</head>

<body>
  <h1> {{ item.title }} </h1>
  {% if session.user_id == item.user_id %}
  <p>
    <a href="/update_event/{{ item.id }}">Muokkaa</a>
  </p>
  {% endif %}
  <p>
    {{ item.description }}
  </p>
  <p>
    Päivämäärä: {{ item.date }}
  </p>
    <p>
    Sijainti: {{ item.location }}
  </p>
    <p>
    Kellonaika: {{ item.time }}
  </p>
  <p>
    Järjestäjä: {{ item.username }}
  </p>
  <p>
    <a href="/">Takaisin</a>
  </p>
 
  
  </form>
</body>

</html>