<!DOCTYPE html>
<html>

<head>
  <title>Käyttäjä {{ user.username }} </title>
</head>

<body>
  <h1>Käyttäjä {{ user.username }} </h1>
  <p>
    Käyttäjällä on yhteensä {{ events | count }} ilmoitusta
  </p>
  <h2>Ilmoitukset</h2>
  <ul>
    {% for event in events %}
    <li><a href="/event/{{ event.id }}">{{ event.title }} {{ event.date }}</a></li>
    {% endfor %}
  </ul>

  <h2>Käyttäjän lähettämät kommentit</h2>
  <ul>
    {% for comment in user_comments %}
      <li><strong>{{ comment.title }}:</strong> {{ comment.comment }}</li>
    {% endfor %}
  </ul>

  <p>
    <a href="/">Takaisin</a>
  </p>
 
  
  </form>
</body>

</html>